html {
  font-family: 'Roboto', sans-serif; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 20px; }
  body > div {
    transition: all 0.5s ease; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif; }

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; }

.app-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer; }
  .app-bar span, .app-bar div:last-child {
    font-family: 'Open Sans', serif !important; }

.home-tabs button {
  font-family: 'Open Sans', serif !important; }

.body {
  padding-top: 18em; }
  .body.favourites {
    padding-top: 12em; }

.login-page {
  text-align: center;
  padding: 235px 0px; }
  .login-page h3 {
    margin-bottom: 40px; }
  .login-page p {
    margin-top: 20px; }

footer {
  margin-top: 2em;
  text-align: center;
  padding: 1em;
  background: #009688;
  color: #795548; }
  footer p {
    font-size: 14px;
    text-transform: capitalize; }
  footer .footer-icon {
    margin: 0px 4px; }

.added {
  color: red; }

.filter {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  top: 151px;
  margin-left: -15px;
  margin-right: -15px; }

.select > div {
  padding-top: 0px; }

.filter label {
  font-family: 'Slabo 27px', serif; }

.searchBar {
  padding: 0.3em 15px;
  background: #fff; }

.sortBarTitle {
  text-transform: capitalize; }

.sortBarSubtitle {
  margin-right: 20px;
  color: #00bcd4; }

.card {
  height: 290px;
  margin-bottom: 20px;
  padding-top: 15px; }

.favourites .card {
  margin-bottom: 20px;
  padding-top: 15px; }

.card:hover {
  border: 2px solid #009688; }

.card .title {
  padding-left: 18px; }

.card.with-image {
  height: 510px; }
  .card.with-image .article-title {
    height: 80px; }
  .card.with-image img {
    height: 220px; }

.card .card-description {
  height: 80px;
  margin-bottom: 10px; }

.card-description .read-more {
  font-size: 16px;
  text-transform: capitalize; }

.card-actions > button {
  float: right; }
  .card-actions > button > div > svg {
    color: red !important; }

.source-actions > button > div > svg {
  color: red !important; }

.favourites p {
  font-size: 12px; }

.favourites .card {
  height: 300px; }

.favourites img {
  height: 150px; }

.favourites .list {
  margin-top: 25px; }

span.readMore {
  float: right;
  margin-bottom: 10px; }

.signOutPopOver {
  width: 110px;
  margin-left: 15px;
  background-color: #00B8D4 !important;
  border-top: none; }
  .signOutPopOver div > svg {
    left: 60px; }

.toolbar {
  padding-top: 1.2em;
  padding-bottom: 2em; }
