html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

body > div {
  transition:all 0.5s ease;
}

footer{
  text-align: center;
  padding: 1em;
  background: rgb(0, 188, 212);
}
footer p{
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}
.added {
  color: red;
}
.searchBar{
  padding: 0.3em 15px;
  background:fff;
}
.sortBarTitle{
  text-transform: capitalize;
}
.sortBarSubtitle{
  margin-right: 20px;
  color: rgb(0, 188, 212);  
}
.card{
  height: 220px;
  margin-bottom: 15px;
}
.card.withImage{
  height: 450px;
}
.card.withImage img{
  height: 200px;
}
.description{
  height: 80px;
  overflow: hidden;
}
.description > span{
  overflow: hidden;
  max-height: 25ch;
}
span.readMore{
  float: right;
  margin-bottom: 10px;
}
.cardActions > button >div > svg {
  color: red !important;  
}
.archiveItem{
  height: 150px;
  margin-bottom: 10px;
}

 /*rgb(0, 188, 212)*/