html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  > div {
    transition: all 0.5s ease;
  }
}

footer {
  margin-top: 1em;
  text-align: center;
  padding: 1em;
  background: rgb(0, 188, 212);
  p {
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
  }
}

.added {
  color: red;
}

.searchBar {
  padding: 0.3em 15px;
  background: fff;
}

.sortBarTitle {
  text-transform: capitalize;
}

.sortBarSubtitle {
  margin-right: 20px;
  color: rgb(0, 188, 212);
}

.card {
  height: 220px;
  margin-bottom: 15px;
  .title {
    padding-left: 18px;
  }
  &.withImage {
    height: 450px;
    img {
      height: 200px;
    }
  }
}

.description {
  height: 80px;
  overflow: hidden;
  > span {
    overflow: hidden;
    max-height: 25ch;
  }
}

span.readMore {
  float: right;
  margin-bottom: 10px;
}

.cardActions > button > div > svg {
  color: red !important;
}

.archiveItem {
  height: 150px;
  margin-bottom: 10px;
  img {
    height: 150px;
    width: auto;
  }
}

.signOutPopOver {
  width: 110px;
  margin-left: 15px;
  background-color: #00B8D4 !important;
  border-top: none;
  div > svg {
    left: 60px;
  }
}

.toolbar {
  padding-top: 1.2em;
  padding-bottom: 2em;
}