html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

body > div {
  transition:all 0.5s ease;
}

footer{
  margin-top: 1em;
  text-align: center;
  padding: 1em;
  background: rgb(0, 188, 212);
}
footer p{ 
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}

.added {
  color: red;
}
.searchBar{
  padding: 0.3em 15px;
  background:fff;
}
.sortBarTitle{
  text-transform: capitalize;
}
.sortBarSubtitle{
  margin-right: 20px;
  color: rgb(0, 188, 212);  
}
.card{
  height: 220px;
  margin-bottom: 15px;
}
.card .title{
  padding-left: 18px;
}
.card.withImage{
  height: 450px;
}
.card.withImage img{
  height: 200px;
}
.description{
  height: 80px;
  overflow: hidden;
}
.description > span{
  overflow: hidden;
  max-height: 25ch;
}
.favourites{
  margin-top: 15px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1em 1em 1em 2em;
}
.favourites:last-child{
  margin-right: 0px;
  min-height: 300px;
}
.favourites h3, h4{
  font-weight: 400;
  text-align: center;
}
.favourites h3{
  margin-bottom: 25px;
}
span.readMore{
  float: right;
  margin-bottom: 10px;
}
.cardActions > button >div > svg {
  color: red !important;  
}
.archiveItem{
  height: 150px;
  margin-bottom: 10px;
}
.archiveItem img {
  height: 150px;
  width: auto;
}
.signOutPopOver{
  width: 110px;
  margin-left: 15px;
  background-color: #00B8D4 !important;  
  border-top: none;
}
.signOutPopOver div>svg{
 left: 60px;
}
.toolbar{
  padding-top: 1.2em;
  padding-bottom: 2em;
}
